.navbar {
    box-sizing: border-box;
    width: 100%;
    max-width: 100vw;
    height: 65px;
    background-color: #e07474;
    opacity: 0.95;
    display: flex;
    align-items: center;
    padding: 0 30px 0 30px;
    top: 0;
    left: 0;
    position: fixed;
    border-bottom: 1px solid rgb(172, 172, 172);
    z-index: 99;
}

.navbar * {
    opacity: 1;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.homeWrapper {
    align-items: center;
    height: inherit;
    display: flex;
}

/* .homeWrapper * {
    width: 100%;
    height: 100%;
} */

.logo {
    margin-right: 5px;
    width: 73px;
}

.name {
    width: 105px;
    margin-left: 5px;
    height: 100%;
}

.name svg {
    width: auto;
    height: 100%;
}

.container {
    flex-grow: 2;
    display: grid;
    place-items: center;
    align-items: center;
    font-size: 18px;
}

.container ul {
    display: flex;
}

.container li {
    list-style: none;
}

.socials {
    height: 100%;
    display: flex;
    align-items: center;
}

.socials > a {
    height: 21px;
    margin-left: 18px;
}

.socials > a * {
    height: 21px;
}

@media (max-width: 500px) {
    .name {
       display: none;
    }
 }

 @media (max-width: 350px) {
     .socials {
         display: none;
     }
 }

 @media (max-width: 260px) {
     .container {
         display: none;
     }
 }