.wrap {
    width: inherit;
    height: inherit;
    display: grid;
}

.wrap > div {
    width: inherit;
    height: inherit;
    grid-area: 1/1;
}

.wrap img {
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.day {
    object-position: 30% 10%;
}

.night {
    object-position: 60% 10%;
}