.indexWrapper {
    height: 100%;
}

.indexWrapper>div {
    width: 100%;
    box-sizing: border-box;
    height: clamp(200px, 40vw, 800px);
}

.indexWrapper>div>div {
    grid-area: 1/1;
}

.bannerContent {
    display: flex;
    align-items: center;
    z-index: 3;
    padding: 0px 5vw;
    width: 100%;
    height: 100%;
}

.bannerContent p {
    font-size: 1.5vw;
}

.b1 {
    /* height: clamp(200px, 55vw, 800px) !important; */
    /* height: 50vw !important; */
    height: 100vh !important;
    display: grid;
    color: white;
}

.blackPlace {
    background-color: black;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.dark {
    background-color: rgba(0, 0, 0, 0.35);
    height: 100%;
    width: 100%;
    grid-area: 1/1;
    z-index: 2;
}

.intro h1 {
    font-weight: 600;
    line-height: max(9vw, 45px);
    font-size: max(5vw, 24px);
    color: #f8f8f8;
}

.scrolling {
    box-sizing: border-box;
    width: 25%;
    height: 100%;
    margin-left: auto;
    text-align: center;
    display: flex;
    align-items: center;
    border: 0.5vw dashed gray;
    padding: 2vw;
    font-size: 2vw;
}

.b2 {
    background-color: lightgray;
    display: flex;
    align-items: center;
}

.b3 {
    background-color: goldenrod;
    display: flex;
    align-items: center;
}

.split {
    width: 100%;
    display: flex;
}

.split * {
    height: 100%;
}

.split div:nth-child(2) {
    margin-left: auto;
    width: 25%;
}

.comingsoon {
    border: 0.5vw dashed gray;
}

@media (max-width: 500px) {
    .scrolling {
        display: none;
    }
}