@font-face {
    font-family: 'GmarketSansTTFMedium';
    src: url('/fonts/GmarketSansTTF/gmarketsansttfmedium-webfont.woff2') format('woff2');
}

body, main, div, p, h1, h2 {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 24px;
    font-display: swap;
    vertical-align: baseline;
    background: transparent;
    image-rendering: -webkit-optimize-contrast;
}

html, body, main {
    height: 100%;
    max-width: 100%;
    width: 100%;
}

body {
    margin: 0;
    font-family: 'GmarketSansTTFMedium', Helvetica, sans-serif;
    height: 100%;
    width: 100%;
}

body div {
    overflow: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.spacer {
    flex: 1;
}

.content {
    padding-top: 65px;
    width: 100%;
    margin: auto;
}